/* You can target elements by name/type */
ul {
    background-color: plum;
}
ol {
    background-color: goldenrod;
}
html{
    background-color: lightgray;
}
table{
    transform: translateX(9%);
    width:80%;
    object-fit: contain;
}
th,
td {
    border: 1px solid transparent;
    padding: 5px;
    border-collapse: collapse;
}

input {
    border-radius:5px;
    height:20px;
    margin-left: 10px;
    margin-right: 10px;
}

a {
    font-size: 50pt;
    color: black;
}



/* You can target elements by class as well by preceding the class name with . */
.text {
    background-color: violet;
    color: white;
    font-family: monospace;
}

.text h4 {
    color: greenyellow;
    font-style: italic;
}

.centerTitle {
    display:flex;
    justify-content: center;
    font-size: 100pt;
}

.subCenterTitle{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10rem;
    font-size: 50pt;
}

.inlineTitle {
    display: inline-flex;
}
.imageContainer {
    margin-left: 15px;
}

.app_title {
    color: black;
    font-family: 'monospace';
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom:50px;
}
.line {
    transform: translateY(-55px);
    height:0px;
    width:100%;
    border-width: 5px;
    border:solid;
    border-color: black;
}

.eventCreator_background {
    background-color: rgb(0, 0, 0, 0.9);
    opacity: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    /* Removed 'position: flex;' - use 'display: flex;' for flexbox or 'position: relative;' as a default */
    top: 0;
    left: 0;
    padding-bottom: 1px;
}

fieldset {
    width: 100%;
    border:None;
    padding: 0;
    margin: 0;
    margin-top: 50px;
    text-align: center; /* Center the form elements */
}


#legend1, legend { 
    color: white;           /* White text for contrast */
    font-weight: bold;      /* Make it stand out */
    border-radius: 5px;     /* Match the container's rounded corners */
    text-transform: uppercase; /* Make it look official */
    font-size: 2.5em;
    text-align: Left;
    border: None;
    padding-top: 100px;
    padding-left: 150px;
    width: 100%; /* Ensure it spans the full width for centering */
}

.eventCreator_button {
    width: 350px;
    height: 30px;
    padding-top: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
    margin-left: 150px;
    display: block; /* Important: Make it a block element to use auto margins */
    border-radius: 5px;
}

.joinbutton {
    width: 80%;
    background-color: #008cba;
    color: white;
    border-radius: 50px;
}

.buttonhold{
    display: flex;
    justify-content: center;
}

.bckg{
    background-image:url("https://www.publicdomainpictures.net/pictures/10000/velka/2527-1272561924UV5a.jpg");
    height:100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.eventcontainer {
    border-color: black;
    border:solid;
    border-width: 5px;
    height:350px;
    width: 350px;
    border-radius: 5px;
    padding:10px;
    background-color: lightgray;
    margin: 10px

}

.eventdisplay{
    border-width:0px;
    border-color:transparent;
}

.list-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.headerstuff {
    display: flex;
    justify-content: right;

}



.ZotGPT{
    background-color:rgb(255, 255, 255, 0.3);
    height:800px;
    margin-left:100px;
    margin-right:100px;
    margin-top:150px;
    margin-bottom:150px;
    border-radius: 15px;
}

.ZotGPT:hover{
    background-color:rgb(255, 255, 255, 0.5);
    transform: translateY(-15px);
    transition: transform 0.8s ease-in-out;
}

.ZotGPT_askpeter {
    font-family: 'Times New Roman', Times, serif; 
    display: inline-block; 
    background-color: white; 
    color: #333333; 
    border: 1px groove (250, 250, 250, 0.5); 
    padding: 10px 20px; 
    text-decoration: none;
    height: 150px;
    width: 350px;
    border-radius: 10px; 
    font-weight: bold; 
    font-size: 50px;
    padding-top: 100px;
    cursor: pointer;
    margin-left:180px;
    margin-top:70px;; 
    text-align:center
}

.ZotGPT_askpeter:hover {
    transform: translateY(-2px);

}

/* You can target elements by id by preceding the id name with # */
#greeting {
    color: darkblue;
}

#submitEventBtn {
    display:block;
}

#loginButton {
    background-color: rgb(255, 255, 255);
    color: black;
    border-color: white;
    border-radius: 10px;
    height: 30px;
    width: 50px;
    transition-duration: 0.4s;
    margin-right: 20px;
    margin-right: 20px;
    margin-bottom: 70px;
    margin-top: 70px;

}


#submitEventBtn {  /* This is the button within event creator */

    width: 150px; 
    padding: 10px;
    margin-top: 10px;
    margin-left: 250px;
    margin-bottom: 100px;
    background-color: url("https://www.publicdomainpictures.net/pictures/10000/velka/2527-1272561924UV5a.jpg");
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s;

}

#submitEventBtn:hover {
    background-color: #f1ba91; /* Darker green on hover */
    font-color: rgb(0, 0, 0);
}




/*
    For buttons, you can style them differently based on if the mouse is hovering over them or not.
    This can be done using :hover after the button name.
*/
a:hover{
    cursor: pointer;
    color:rgb(71, 95, 139);
}
#loginButton:hover {
    background-color: rgb(96, 96, 96);
    color: #ffffff;
    border-color: #008cba;
    border-radius: 10px;
    cursor: pointer;
}

.joinbutton:hover {
    background-color: rgb(49, 110, 131);
    color:white;

}

/*
    Feel free to mess around with the padding, border and margin here
    to see how the content is affected. You may notice the content's
    box change size (padding), the border getting thinner/thicker (border),
    and the distance between the two content boxes change (margin).
*/
#the-box {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 400px;
    border: 5px solid black;
    background-color: gray;
}


#content1 {
    background-color: lightcoral;
    padding: 10px;
    border: 10px dotted red;
    margin: 100px;
}

#content2 {
    background-color: lightgreen;
    padding: 5px;
    border: 5px dashed green;
    margin: 10px;
}

/* 
    Animations are one of the more advanced topics in CSS, but they can be simple
    enough to use for your ZotHacks project. The basic idea is that any element has an animation property
    where the animation can be applied to it. The property has 3 main subproperties we will focus on:
    name, duration, iteration. The name of the animation is defined by keyframes, which describes
    all the steps in the animation. Duration is how long each cycle of the animation lasts. Iteration
    is how long you want the animation to repeat.

    More info: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Animations/Using_CSS_animations
*/

#petr {
    height: 10%;
    width: 10%;
    animation: spin 0.5s infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

